$color-brand: #4fa34f;
$color-brand-light: lighten($color-brand,10%); // 同色系变亮10%
$color-brand-dark: darken($color-brand,10%); // 同色系变暗10%


/* Color */
// $color-success: #58bc58;
// $color-error: #FF4949;
// $color-warning: #FFC82C;
// $color-info: #78A4FA;
